{% extends 'main/base.html' %}
{% load static %}

{% block head %}
<!-- <link href="https://fonts.googleapis.com/css2?family=Rancho&display=swap" rel="stylesheet"> -->
<link href="https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap" rel="stylesheet">
{% endblock head %}

{% block cssaf %}
<style>
	.pageHeading{
		display: inline-block;
		margin-top: 2%;
		padding: 0% 2%;
		font-size: 4.5rem;
		font-weight: bolder;
		font-family: 'Patrick Hand SC', cursive;
		/*color: #ea4848;*/
		/*color: #2031ff;*/
		color: black;
		text-shadow: 0px 0px 10px #ffffff;
		/*#5067ef*/
		/*#e55151*/
	}
	.files{
		width: 25vh;
		padding: 2%;
		margin: 5%;
		margin-top: 9%;
		transition: padding 0.25s;
		transition-timing-function: ease-in-out;
		/*border: 1px solid black;*/
	}
	.files:hover{
		padding: 0%;
	}
</style>
{% endblock cssaf %}

{% block body %}
<div align="center">
	<h id='pageHeading' class="pageHeading z-depth-1" align='center'>Server</h><br>
</div>
<div class="allIcons" align="center">
	<a href="preview?f=audio"><img src="{% static 'audio.png' %}" class="files tooltipped" data-tooltip="Audio"></a>
	<a href="preview?f=video"><img src="{% static 'video.png' %}" class="files tooltipped" data-tooltip="Video"></a>
	<a href="preview?f=pdf"><img src="{% static 'pdf.png' %}" class="files tooltipped" data-tooltip="PDF"></a>
	<a href="preview?f=other"><img src="{% static 'files.png' %}" class="files tooltipped" data-tooltip="Others" style="filter: drop-shadow(2px 0px 0 black) drop-shadow(-1px 0px 0 black) drop-shadow(0px -0.1px 0 black) drop-shadow(0px 1px 0 black);"></a><br><br>
</div>
{% endblock body %}

{% block jsb4 %}
<script>
	function initiatePageBasic(){
		console.log(pageTitle);
		$("#pageHeading").html(pageTitle);
	}
	$(document).ready(function(){
    	$('.tooltipped').tooltip({
    		transitionMovement:0,
    		margin:10,
    	});
  	});
</script>
{% endblock jsb4 %}